<!DOCTYPE html>
<html>
<head>
	<title>Blog app</title>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
	<!-- font awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<style type="text/css">
		body {
			margin: 0px 0px;
		}

		header {
			font-family: 'Sawarabi Gothic', sans-serif;
			font-weight: 400;
			font-size: 18px;
			background-color: #000000;
			color: white;
			width: 100%;
			height: 40px;
		}

		a {
			text-decoration: none;
			color: white;
		}

		.container {
			width: 80%;
			margin: 0px auto;
		}

		.verticalcenter {
			padding-top: 7px;
		}

		.right-padding {
			padding-right: 20px;
		}

		/*for all templates*/
		.content {
			width: 50%;
			margin: 20px auto;
		}

		.bordering {
			border: 1px solid darkgray;
		}

		.small-container {
			width: 95%;
			margin: 10px auto;
		}
	</style>
</head>
<body>
	<header>
		<div class="container">
			<div class="verticalcenter">
				<i class="fas fa-code right-padding">&nbsp;&nbsp;&nbsp;Blog Site</i>
				<a href="/blogs" class="right-padding ">Home</a>
				<a href="/blogs/new" class="right-padding ">New Post</a>
			</div>
		</div>
	</header>
