<% include partials/header %>

<div class="content">
	<h1 style="margin-bottom: 0px;">&nbsp;Blog Site</h1>
	<div class="bordering">
		<div class="small-container">
			first blog
		</div>
	</div>
</div>